<div id="home_top">
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 center-it">
      <h1>
        Tech Talent Elementary
      </h1>
      <p>
    		<%= image_tag "tts-team.png", alt: "tts-logo" %>
    	</p>
      <h3>
      	With Kids and Code in Mind
      </h3>
    </div>
  </div>
</div>
<div class="divider">
</div>
<div class="jumbotron">
	<div class="center-it">
		<h2>What Is It You Do Here?</h2>
	</div>
	<div class="row">
		<div class="col-md-4 center-it">
			<i class="fa fa-code fa-5x"></i>
			<p>We teach Ruby</p>
		</div>
		<div class="col-md-4 center-it">
			<i class="fa fa-child fa-5x"></i>
			<p>Then we do this</p>
		</div>
		<div class="col-md-4 center-it">
			<i class="fa fa-graduation-cap fa-5x"></i>
			<p>Finally, something else</p>
		</div>
	</div>
</div>
